{% load static %}

<aside>
    <!-- Brand Logo -->
    <div class="sidebar-header" style="padding: 10px 20px">
        <a href="{% url 'admin_home' %}" class="brand-link">
            <h4 class="HEADER" style="margin: 0">Quản lí học sinh</h4>
        </a>
    </div>
    <link rel="stylesheet" href="{% static './css/roles.css' %}">

    <!-- Sidebar Menu -->
    <nav>
        <ul class="list-unstyled components">
            <li class="info">
                <a href="#profileMunu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle mb-2">
                    <i class="nav-icon fas fa-user"></i>
                    Tài khoản: {{user}}
                </a>
                <ul class="collapse list-unstyled" id="profileMunu">
                    <li>
                        {% url 'capNhatTaiKhoan' as capNhatTaiKhoan %}
                        <a href="{{capNhatTaiKhoan}}">Chỉnh sửa thông tin</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Đăng xuất</a>
                    </li>
                </ul>
            </li>
            {% if role == 'Admin' %}
                <li>
                    {% url 'admin_home' as admin_home %}
                    <a href="{{ admin_home }}" class="{% if admin_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>
                            Trang chủ
                        </span>
                    </a>
                </li>
            
                <div class="sidebar-content"><p>Tài khoản</p></div>
                <li>
                    <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="nav-icon fas fa-th"></i>
                        <span>
                            Thêm tài khoản
                        </span>
                    </a>
                    <ul class="collapse list-unstyled" id="accountSubmenu">
                        <li>
                            {% url 'tiepNhanHS' as tiep_nhan_hoc_sinh %}
                            <a href="{{ tiep_nhan_hoc_sinh }}"
                                class="{% if tiep_nhan_hoc_sinh == request.path %} active {% endif %}">Học sinh</a>
                        </li>
                        <li>
                            {% url 'themGV' as them_tk_GV %}
                            <a href="{{ them_tk_GV }}" class="{% if them_tk_GV == request.path %} active {% endif %}">Giáo
                                viên</a>
                        </li>
                        <li>
                            {% url 'themAdmin' as them_tk_Admin %}
                            <a href="{{ them_tk_Admin }}" class="{% if them_tk_Admin == request.path %} active {% endif %}">Admin</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#listAccountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="nav-icon fas fa-th"></i>
                            <span>Hệ thống</span>
                    </a>
                    <ul class="collapse list-unstyled" id="listAccountSubmenu">
                        <li>
                            {% url 'dsTaiKhoanHS' as danh_sach_tai_khoan_hoc_sinh %}
                            <a href="{{ danh_sach_tai_khoan_hoc_sinh }}"
                                class="{% if danh_sach_tai_khoan_hoc_sinh == request.path %} active {% endif %}">Học
                                sinh</a>
                        </li>
                        <li>
                            {% url 'dsTaiKhoanGV' as danh_sach_tai_khoan_giao_vien %}
                            <a href="{{ danh_sach_tai_khoan_giao_vien }}"
                                class="{% if danh_sach_tai_khoan_giao_vien == request.path %} active {% endif %}">Giáo
                                viên</a>
                        </li>
                        <li>
                            {% url 'dsTaiKhoanAdmin' as danh_sach_tai_khoan_admin %}
                            <a href="{{ danh_sach_tai_khoan_admin }}"
                                class="{% if danh_sach_tai_khoan_admin == request.path %} active {% endif %}">Admin</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            <div class="sidebar-content"><p>Thông tin/Điểm</p></div>

            
            {% if role == 'Admin' or role == 'Teacher' %}
                <li>
                    {% url 'dsLop' as dsLop %}
                    <a href="{{ dsLop }}" class="{% if dsLop == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>Danh sách lớp</span>
                    </a>
                </li>
            {% else %}
                <li>
                    {% url 'dsLopHS' as dsLophocsinh %}
                    <a href="{{ dsLophocsinh }}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>Danh sách lớp</span>
                    </a>
                </li>
            {%endif%}
            {% if role == 'Admin' or role == 'Teacher' %}
                <li>
                    {% url 'chonNienKhoaTraCuu' as chonNienKhoaTraCuu %}
                    <a href="{{ chonNienKhoaTraCuu }}"
                        class="{% if chonNienKhoaTraCuu == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>
                    Tra cứu học sinh
                </span>
                    </a>
                </li>
            {% endif %}
            {% if role == 'Admin' %}
                <li>
                    {% url 'bangDiem' as bangDiem %}
                    <a href="{{ bangDiem }}"
                        class="{% if bangDiem == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>
                        Bảng điểm
                    </span>
                    </a>
                </li>
            {% elif role == 'Teacher' %}
                <li>
                    {% url 'bangDiemGV' as bangDiemGV %}
                    <a href="{{ bangDiemGV }}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>
                        Bảng điểm
                    </span>
                    </a>
                </li>
            {% else %}
                <li>
                    {% url 'bangDiemHS' as bangDiemHS %}
                    <a href="{{ bangDiemHS }}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>
                        Bảng điểm
                    </span>
                    </a>
                </li>
            {%endif%}
            
            {% if role == 'Admin' %}
            <li>
                <a href="#summarySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                    Bảng tổng kết
                </span>
                </a>
                <ul class="collapse list-unstyled" id="summarySubmenu">
                    <li>
                        {% url 'baoCaoMH' as mon_hoc %}
                        <a href="{{ mon_hoc }}" class="{% if mon_hoc == request.path %} active {% endif %}">Môn
                            học</a>
                    </li>
                    <li>
                        {% url 'baoCaoHocKi' as hoc_ki %}
                        <a href="{{ hoc_ki }}" class="{% if hoc_ki == request.path %} active {% endif %}">Học kì</a>
                    </li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
                {% url 'baoCaoMH' as mon_hoc %}
                <a href="{{ mon_hoc }}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>Bảng tổng kết môn học</span>
                </a>
            </li>
            <li class="nav-item">
                {% url 'baoCaoHocKi' as hoc_ki %}
                <a href="{{ hoc_ki }}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>Bảng tổng kết học kì</span>
                </a>
            </li>
            {%endif%}
            {% if role == 'Admin' %}
                <div class="sidebar-content"><p>Qui định</p></div>
                <li class="nav-item">
                    {% url 'quanLiTuoi' as quan_li_do_tuoi %}
                    <a href="{{ quan_li_do_tuoi }}"
                        class="{% if quan_li_do_tuoi == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>Độ tuổi</span>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'quanLiLop' as quan_li_lop_hoc %}
                    <a href="{{ quan_li_lop_hoc }}"
                        class="{% if quan_li_lop_hoc == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>Lớp học</span>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'quanLiMon' as quan_li_mon_hoc %}
                    <a href="{{ quan_li_mon_hoc }}"
                        class="{% if quan_li_mon_hoc == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <span>Môn học</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</aside>

