{% extends 'studentMan/base.html' %}
{% load static %}
{% block content %}
    <h3 class="label">Báo cáo tổng kết môn học</h3>
    <div class="card card-body shadow-lg">
        <form method="get" class="main_form-header">
            {% csrf_token %}
            <div class="main_form_class row">
                <div class="main_form_title col-lg-2">
                    <p>Lớp</p>
                </div>
                <div class="main_form_title col-lg-3">
                    <p>Môn học</p>
                </div>
                <div class="main_form_title col-lg-2">
                    <p>Học kì</p>
                </div>
                <div class="main_form_title col-lg-3">
                    <p>Niên khóa</p>
                </div>
            </div>
            <div class="main_form_class row">
                <div class="main_form_select col-lg-2">
                    <select id="class_select" class="form-select" aria-label="Default select example">
                        <option>---</option>
                        {% for class in classes %}
                            <option>{{ class }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="main_form_select col-lg-3">
                    <select id="subject_select" class="form-select" aria-label="Default select example">
                        <option>---</option>
                        {% for subject in subjects %}
                            <option>{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="main_form_select col-lg-2">
                    <select id="semester_select" class="form-select" aria-label="Default select example">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="main_form_select col-lg-3">
                    <select id="year_select" class="form-select" aria-label="Default select example">
                        {% for year in years %}
                            <option>{{ year.year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-2">
                    <button id='search' type="button" class="btn btn-outline-primary col-lg-11">Tìm kiếm</button>
                </div>
            </div>
        </form>

        <table class="table">
            <tr>
                <th>STT</th>
                <th>Lớp</th>
                <th>Môn học</th>
                <th>Sĩ Số</th>
                <th>Số Lượng Đạt</th>
                <th>Tỷ Lệ</th>
            </tr>
            {% for report in reports %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ report.class_id }}</td>
                    <td>{{ report.subject }}</td>
                    <td>{{ report.student_number }}</td>
                    <td>{{ report.passed_number }}</td>
                    <td>{{ report.passed_rate }} %</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}

{% block custom_js %}
    <script>
        document.getElementById("class_select").value = "{{current_class}}"
        document.getElementById("subject_select").value = "{{ subject }}"
        document.getElementById("semester_select").value = "{{ semester }}"
        document.getElementById("year_select").value = "{{ year }}"
        function getNewViews() {
            var e = document.getElementById("class_select");
            var classSelected = e.options[e.selectedIndex].text;
            var semesters = document.getElementById("semester_select");
            var semester = semesters.options[semesters.selectedIndex].text;
            var years = document.getElementById("year_select");
            var year = years.options[years.selectedIndex].text;
            var subjects = document.getElementById("subject_select");
            var subject = subjects.options[subjects.selectedIndex].text;
            window.location.href = {% url 'baoCaoMH' %} +classSelected + "/" + subject + "/" + semester + "/" + year;
        }

        btn = document.getElementById("search");
        btn.addEventListener("click", (e) => {
            e.preventDefault();
            getNewViews();
        })
    </script>

{% endblock custom_js %}
