{% extends 'studentMan/base.html' %}
{% load static %}
{% block content %}
    <h3 class="label">Cập nhật môn học</h3>
    <div class="card card-body shadow-lg">
        <div class="jus_center row">
            <form role="form" method="POST" enctype="multipart/form-data" class="col-lg-6">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group row jus_center">
                        <div class="col-lg-5">
                            Mã môn:
                        </div>
                        <div class="col-lg-6">
                        {{form.SubjectID}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row jus_center">
                        <div class="col-lg-5">
                            Tên môn học:
                        </div>
                        <div class="col-lg-6">
                        {{form.name}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row jus_center">
                        <div class="col-lg-5">
                            Điểm chuẩn đạt môn:
                        </div>
                        <div class="col-lg-6">
                        {{form.approved_mark}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row jus_space-around ">
                        <div class="col-lg-5">
                            <button type="submit" onclick="return confirm('Xác nhận cập nhật môn học ?')" class="btn btn-primary btn-block" style="width: 100%;">
                                Câp nhật
                            </button>
                        </div>
                        <div class="col-lg-5">
                            <a href="{% url 'quanLiMon' %}" class="btn btn-primary" style="width: 100%;">Trở về</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}