{% extends 'studentMan/base.html' %}
{% load static %}
{% block content %}
    <h3 class="label">Lập danh sách lớp</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="main_form-header row">
            <div class="main_form_class col-lg-3">
                <div class="row">
                    <div class="main_form_title col-lg-3">
                        <p>Lớp</p>
                    </div>
                    <div class="main_form_select col-lg-6">
                        {{form.classId}}
                    </div>
                </div>
            </div> 
        </div>
        
        <table class="table">
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>lựa chọn</th>
            </tr>
                {% for student,date in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{student.user.name}}</td>
                    <td>{{date}}</td>
                    {%if student.user.sex == '1' %}
                        <td>Nam</td>
                    {%else%}
                        <td>Nữ</td>
                    {%endif%}
                    <td>{{student.user.email}}</td>
                    <td>{{student.user.address}}</td>
                    <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value='{{student.user.username}}'id ="{{ student.user.username }}" name="username_class">
                        <label class="form-check-label" for="{{ student.user.username }}">chọn</label>
                    </div>
                </tr>
                {% endfor %}
            
        </table>
        <div class="main_form_term col-lg-6">
            <div class="row">  
                <div class="col-lg-5">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">
                        Thêm học sinh
                    </button>
                </div>
                <div class="col-lg-5">
                    <a href="{% url 'dsLop' %}" class="btn btn-primary" style="width: 100%;">Trở về</a>
                </div>  
            </div>                
        </div>
    </div>
{% endblock content %}
